a {
    text-decoration: none;
}
.white {
    color:white;
}
#header {
    background-image:url(IMAGE/52749195778_58fde1fe85_o_crop.jpg);
    width:auto;
    height:200px;
    background-size: cover;
    background-position: center;
}
#header_head{
    text-align: center;
    text-decoration: none;
    color:black;
    font-size:xx-large;
    font-weight: bold;  
}
#nav_bar {
    width:100%;
}
.nav_tab {
    width:25%;
    background-color: #555555;
}
.nav_tab_text {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    
}
.nav_tab_text:hover{
    color:#333333;
}
.source.block {
    width:100%;
    height:500px
}
